@font-face {
  font-family: "berthold";
  src:url("fonts/Berthold Walbaum Book Regular.ttf");
}

.newpoem {

    position: absolute;
    top: 30px;
    left: 480px;
    right: 470px;
    font-size: 20px;
    font-family: "berthold", serif;
    color: black;
    line-height: 20px;
    z-index: 2;

}

.newpoem1 {

    position: absolute;
    top: 30px;
    left: 480px;
    right: 470px;
    font-size: 20px;
    font-family: "berthold", serif;
    color: black;
    line-height: 20px;
    z-index: 2;

}

.newpoem2 {

    position: absolute;
    top: 30px;
    left: 480px;
    right: 470px;
    font-size: 20px;
    font-family: "berthold", serif;
    color: black;
    line-height: 20px;
    z-index: 2;

}

.newpoem3 {

    position: absolute;
    top: 30px;
    left: 480px;
    right: 470px;
    font-size: 20px;
    font-family: "berthold", serif;
    color: black;
    line-height: 20px;
    z-index: 2;

}

.newpoem4 {

    position: absolute;
    top: 30px;
    left: 480px;
    right: 470px;
    font-size: 20px;
    font-family: "berthold", serif;
    color: black;
    line-height: 20px;
    z-index: 2;

}

.newpoem5 {

    position: absolute;
    top: 30px;
    left: 480px;
    right: 470px;
    font-size: 20px;
    font-family: "berthold", serif;
    color: black;
    line-height: 20px;
    z-index: 2;

}

.newpoem6 {

    position: absolute;
    top: 30px;
    left: 480px;
    right: 470px;
    font-size: 20px;
    font-family: "berthold", serif;
    color: black;
    line-height: 20px;
    z-index: 2;

}

.newpoem7 {

    position: absolute;
    top: 30px;
    left: 480px;
    right: 470px;
    font-size: 20px;
    font-family: "berthold", serif;
    color: black;
    line-height: 20px;
    z-index: 2;

}

.newpoem8 {

    position: absolute;
    top: 30px;
    left: 480px;
    right: 470px;
    font-size: 20px;
    font-family: "berthold", serif;
    color: black;
    line-height: 20px;
    z-index: 2;

}

.newpoem9 {

    position: absolute;
    top: 30px;
    left: 480px;
    right: 470px;
    font-size: 20px;
    font-family: "berthold", serif;
    color: black;
    line-height: 20px;
    z-index: 2;

}

.newpoem10 {

    position: absolute;
    top: 30px;
    left: 480px;
    right: 470px;
    font-size: 20px;
    font-family: "berthold", serif;
    color: black;
    line-height: 20px;
    z-index: 2;

}

.button-next{
  position: fixed;
  height: 100px;
  width: 100px;
  top: 20px;
  left: 1000px;
  /* background-image:'images/next.png'; */

  padding: 10px 20px;
  margin: auto auto;
  z-index: 2;
}

.button-next:hover{
  cursor: url("images/cursor3.png"), auto;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
}

.image-eye{
width: 80px;
height: 60px;
position: fixed;
top: 60px;
left: 950px;
}

.image-eye:hover{
  cursor: url("images/cursor3.png"), auto;
}

/* .image-next {
  width: 20px;
  height: 20px;
  position: fixed;
  top: 390px;
  left: 1000px;

} */




.whitebox {
  width: 370px;
  height: 1000px;
  background-color: white;
  top: 20px;
  left: 455px;
  position: fixed;

}

.videobackground {
  position: fixed;
  /* background-color: white; */
background-repeat: no-repeat;
  left: 0px;
  top: -50px;
  z-index: 0;
}

.videobackground video{
  width: 200%;
  height: 800px;
}

/* .videobackground2 {
  position: fixed;
  background-color: white;
  width: 100%;
  height: 100%;
  left: 600px;
  top: 20px;
} */


/* .backgroundPoem {
  background: url(images/poem_background1.png);
  background-size: 20%;
  background-repeat:no-repeat;
  position: fixed;
  top: 30px;
  left: 150px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.backgroundPoem1 {
  background: url(images/poem_background2.png);
  background-size: 22%;
  background-repeat:no-repeat;
  position: fixed;
  top: 30px;
  left: 840px;
  width: 100%;
  height: 100%;
  z-index: -1;
} */
